.itemWrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 263px;
  margin: 10px;
  height: 200px;
  max-height: 200px;
  position: relative;
  * {
    color: #fff;
  }

  a {
    max-height: 100px;
  }

  .itemImg {
    height: 100px;
    width: 100%;
    min-height: 100px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .gameInfo {
    min-height: 100px;
    background-color: #17323a;
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    span {
      width: 70%;
      line-break: normal;
      text-align: start;
    }
    * {
      margin: 5px 10px;
    }
  }

  .playBtnWrapper {
    position: relative;
    width: 45px;
    height: 45px;
    min-height: 45px;
    background-color: #837f7f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 125px;
    left: 200px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60%;
      width: 60%;
      background-color: #837f7f;
      border-radius: 50%;
      border: 5px solid #fff;
    }
  }

  .likeBtn {
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    height: 25px;
    border: none;
    position: absolute;
    top: 170px;
    right: 10px;
  }
}
