.gameList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: auto;
}

@media screen and (max-width: 900px) {
  .gameList {
    grid-template-columns: repeat(2, 263px);
  }
}

@media screen and (max-width: 650px) {
  .gameList {
    grid-template-columns: 263px;
    gap: 5px;
  }
}
