.gameList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  justify-items: center;
}

@media screen and (max-width: 1150px) {
  .gameList {
    grid-template-columns: repeat(2, 263px);
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .gameList {
    grid-template-columns: 263px;
    gap: 5px;
  }
}
