header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  width: 80vw;
  max-height: 37px;
}

.logo {
  width: 150px;
  max-width: 150px;
  min-width: 100px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    filter: invert(100%);
  }
}

nav {
  * {
    color: #fff;
  }
  margin: 0 0 0 20px;
  background-color: #837f7f;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;

  align-items: center;

  a {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #837f7f;
    white-space: nowrap;
    transition: 300ms;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
  }
  :hover {
    background-color: #b6b0b0;
  }
  :first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  :last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

@media screen and (max-width: 700px) {
  header {
    max-height: none;
    display: grid;
    gap: 10px;
    grid-template-areas:
      "logo   logo   logo   nav    nav    nav"
      "search search search search search search"
      "sortBy sortBy sortBy sortBy empty sortOrder";
    grid-template-rows: repeat(3, 36px);
    grid-template-columns: repeat(6, 50px);
  }
  .logo {
    justify-content: center;
    max-height: 35px;
    grid-area: logo;
    a {
      height: 100%;
      width: 90%;
    }
  }
  nav {
    margin: 0;
    grid-area: nav;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      padding: 10px;
    }
  }
}
@media screen and (max-width: 375px) {
  header {
    max-height: none;
    display: grid;
    gap: 10px;
    grid-template-areas:
      "logo   empty   empty nav nav nav"
      "search search search search search search"
      "sortBy sortBy sortBy sortBy empty sortOrder";
    grid-template-rows: repeat(3, 36px);
    grid-template-columns: repeat(6, 40px);
  }
  .logo {
    min-width: 50px;
  }
}
