.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 0 0 15px;
  position: relative;
  margin-right: 20px;
  grid-area: search;

  .search {
    width: 100%;
    background-color: #837f7f;
    color: #fff;
    border-radius: 10px;
    height: 30px;
    padding: 2.5px 10px;
    border: none;
  }
  ::placeholder {
    color: #fff;
  }
  :focus {
    outline: none;
  }

  .searchImg {
    position: absolute;
    right: 10px;
    pointer-events: none;
    min-width: 15px;
  }
}

@media screen and (max-width: 700px) {
  .searchWrapper {
    margin: 0 10px;
    width: 340px;
  }
}
@media screen and (max-width: 375px) {
  .searchWrapper {
    width: 98%;
    margin: 0 10px;
  }
}
