* {
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
  }
}

.App {
  text-align: center;
  background: #171a21;
  height: auto;
  min-height: 100vh;
}

.wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}
