* {
  margin: 0;
  padding: 0;
  color: #fff;
  ul {
    list-style: none;
  }
}

.App {
  text-align: center;
  background: #171a21;
  height: auto;
  min-height: 100vh;
}

.wrapper {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 20px;
}

.likedList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 375px) {
  .wrapper {
    padding: 0;
  }
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.selected {
  background-color: #17323a !important;
}

.disabled {
  filter: brightness(0.5);
}

.break {
  display: none;
}
